language: node_js
node_js:
  - "8"
cache:
  yarn: true
  directories:
    - "node_modules"
script:
  - yarn lint
  - yarn test
  - yarn flow
  - yarn build
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: build
  on:
    branch: master
  fqdn: immigrantpoa.org
