@import '../../styles/grommet/power-of-attorney.defaults';

.grommetux-layer.Disclaimer .grommetux-layer__container {
  // Header needs to be full width, so remove padding
  // from the top level container
  padding: 0px;
}

.DisclaimerHeader {
  background-color: $brand-color-darker;
  color: white;
  font-size: 1.1em;
}

.grommetux-anchor.DisclaimerMoreInformation {
  color: inherit !important;
}
