.HeroImage {
  color: white;
  min-height: 50vh;
  background-image: url("/kids.jpeg");
  background-size: cover;
}

.footer{
	background: #f8f8f8;
	position:absolute;
    bottom:0;
    width:100%;
    padding-left: 40px;
}