.grommetux-button--secondary.language-button:hover,
.grommetux-button:not(.grommetux-button--disabled):not(.grommetux-button--plain):not(.grommetux-button--fill).language-button.grommetux-button--secondary:hover {
  box-shadow: 0 0 0 0 #dc2878;
  -webkit-box-shadow: 0 0 0 0 #dc2878;
}

.grommetux-button.language-button {
  padding: 7px 1rem !important;
}
