.container {
  margin: 32px;
}

.form-control {
  margin: 6px 0;
}

.error {
  color: #cc0000;
}

.grommetux-text-input.grommetux-input.input-class-long {
  margin: 0em 0.5em 1em 0em;
  width: 100%;
}

.grommetux-text-input.grommetux-input.input-class {
  margin: 0em 1em 1em 0em;
}