.container {
  margin: 32px;
}

.form-control {
  margin: 6px 0;
}

.error {
  color: #cc0000;
}

.grommetux-text-input.grommetux-input.input-class-long {
  margin: 0em 0.5em 1em 0em;
  width: 100%;
}

.grommetux-text-input.grommetux-input.input-class {
  margin: 0em 1em 1em 0em;
}

.grommetux-box.grommetux-box--direction-row.grommetux-box--justify-end.grommetux-box--flex.grommetux-box--pad-none.download-container {
  display: block;
  hr {
    max-width: 22em;
  }
}
.grommetux-button.download-btn {
  margin: 0em 2.5em 1.8em 0em;
}

.grommetux-carousel__arrow, .grommetux-carousel__controls{
  display: none !important;
}