.container {
  margin: 32px;
}

.form-control {
  margin: 6px 0;
}

.error {
  color: #c00;
  display: block;
}

.grommetux-text-input.grommetux-input.input-class-long {
  margin: 0 0.5em 1em 0;
  width: 100%;
}

.grommetux-text-input.grommetux-input.input-class,
.grommetux-select {
  margin: 0 1em 1em 0;
}

.grommetux-select,
.grommetux-select__drop {
  width: 200px;
}

.grommetux-box.grommetux-box--direction-row.grommetux-box--justify-end.grommetux-box--flex.grommetux-box--pad-none.download-container {
  display: block;

  hr {
    max-width: 22em;
  }
}

.grommetux-button.download-btn {
  margin: 0 2.5em 1.8em 0;
}

.grommetux-carousel .grommetux-box--align-center {
  justify-content: center;
}

.grommetux-carousel__arrow,
.grommetux-carousel__controls {
  display: none !important;
}

.grommetux-box--direction-row.grommetux-box--responsive.button-box {
  @media (max-width: 719px) {
    flex-direction: column-reverse;
    .button {
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
    }
  }
}

.stepper {
  @media (max-width: 430px) {
    display: none;
  }

  div div div div {
    // HACK: Since the slider sets all styles inline.
    a,
    span {
      line-height: 32px !important;
    }
  }
}
