.grommetux-box.grommetux-box--direction-row.grommetux-box--justify-end.grommetux-box--flex.grommetux-box--pad-none.download-container {
    display: block;
    
    .download-btn {
        margin: 2em;
    }
}

.grommetux-button.download-btn {
    margin: 2em;
}