// Note this has to be imported _after_ grommet-core to make $grommet-namespace
// available
.#{$grommet-namespace}radio-button__control,
.#{$grommet-namespace}radio-button__control:checked {
  color: $power-of-attorney-coral-blue;
}

.#{$grommet-namespace}radio-button__input:checked +
.#{$grommet-namespace}radio-button__control {
  border-color: $power-of-attorney-coral-blue;

  &::after {
    background-color: $power-of-attorney-coral-blue;
  }
}
