@import 'grommet/scss/vanilla/objects.button-vanilla';

// Note this has to be imported _after_ grommet-core to make $grommet-namespace
// available
.#{$grommet-namespace}button {
  // Center the label within the button
  align-items: center;
  direction: column;
  justify-content: center;

  // Make it square
  border-radius: 0;

  // Lower max-width
  max-width: 12rem;

  // Match the padding of the design
  padding: 15px 2rem !important;
  text-transform: uppercase;
}
