/*
  Power of Attorney Grommet theme

  This way of theme-ing was copied from internal grommet themes. See
  node_modules/grommet/scss/vanilla/index.scss for an example
*/
@import 'power-of-attorney.defaults';
// The button styling relies on grommet-core
@import 'grommet/scss/grommet-core/index';
@import 'objects.button-power-of-attorney';

h1, h2, h3, h4, h5, h6, .grommetux-headline {
  font-family: $brand-header-font-family;
}
